.myDiv{
    border: solid black;
    background-color: rgb(238, 113, 113);
    padding-bottom: 1em;
    margin-bottom: 20px;
    display: inline-flex;
    text-align: center;
}

.divBtn{
    height: 2em;
    width: 20px;
}

.divTen{
    height: 50px;
    width: 50px;
    background-color: rgb(122, 122, 233);
    float: right;
    border: solid black;
    margin: 20px;
    line-height: 2.5em;

}