
.ibLogo{
    height: 50px;
    width: 120px;
    text-align: center;
}

.textContainer{
    background-color: rgb(245, 216, 52);
}

.textBox{
    color: white;
    text-align: left;
    padding: 50px 50px 2px 50px;
    }
    .text{
        padding-right: 50px;
        /* display: inline; */
        font-size: 12px;
        padding-top: 10px;
    }

.lrnBox{
    border: solid white;
    color: white;
    padding: 5px;
    display: inline;
    font-size: 10px;
    text-align: center;
    margin-left: 50px;
}

.macImg1{
    height: 400px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-bottom: 250em;
    margin-top: -150em;
    padding: 15em 100em 15em 0em; 
    /* padding-bottom: 100px; */
}

.bottomImmages{
    padding-top: 0px;
}

.bottom1{
    /* margin-left: 10px; */
    /* display: inline-block; */
    height: 100px;
    width: 100px;
    /* padding: 0px 150px 0px 75px; */
    bottom: 0em;
    right: 0em;
}

.bottom2{
    /* margin-left: 10px; */
    /* display: inline-block; */
    height: 100px;
    width: 100px;
    /* padding: 0px 150px 0px 75px; */
    bottom: 0em;
    right: 0em;
}

.bottom3{
    /* margin-left: 10px; */
    /* display: inline-block; */
    height: 20em;
    width: 20em;
    /* padding: 0px 150px 0px 75px; */
    bottom: 0em;
    right: 0em;
}



.imgText{
    /* margin: 50px 50px 0px;
    padding-top: 0px; */

}

